[coverage:run]
parallel = True
concurrency = multiprocessing
source = .
omit =
    tests/*
    .venv/*
    */migrations/*
    manage.py
    *settings.py
    config/*
    */wsgi.py
    */asgi.py
    */__init__.py
    static/*
    media/*
    templates/*

[coverage:paths]
source =
    apps/
    my_cloud_project/