[run]
omit =
    tests\*,
    logs\*,
    .venv\*,
    manage.py,
    static\*,
    media\*,
    templates\*,
    *\migrations\*,
    *\__init__.py,
    *\admin.py,
    config\*,
    *settings.py,
    *\wsgi.py,
    *\asgi.py
